﻿@model List<HealthChecks.Models.Site>

@{
    ViewBag.Title = "ChooseSite";
}

<h2>Submit Health Check</h2>
<p>
    Please select the site to submit a daily health check.
</p>

<div>
    <form name="form1" id="form1" action="Daily" method="get">
        Site:
        <select name="id">
            @foreach (var elem in Model)
            {
                <option value="@elem.ID">@elem.Name</option>
            }
        </select>
        <input type="submit" name="submit" />
    </form>
</div>

@*<table>
    <thead>
        <tr>
            <td>Site</td>
        </tr>
    </thead>
    @foreach (var elem in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(elem.Name, "Daily", new { id = elem.ID })
            </td>
        </tr>
    }
</table>*@

