﻿@*@model HealthChecks.Models.CheckElement*@
@model Dictionary<string, object>

@{
    
    //Dictionary<string, object> = Model[""]
    List<HealthChecks.Models.CheckDef> defList = (List<HealthChecks.Models.CheckDef>)Model["definitions"];
    List<HealthChecks.Models.CheckElement> elemList = (List<HealthChecks.Models.CheckElement>)Model["elements"];
    Dictionary<int, HealthChecks.Models.CheckElement> elemMap = new Dictionary<int, HealthChecks.Models.CheckElement>();
    foreach (var elem in elemList)
    {
        elemMap[elem.CheckID] = elem;
    }
        
    string sitename = (string)Model["sitename"];
    ViewBag.Title = "Daily Health Checks - " + sitename;
    int siteid = (int)Model["siteid"];
    
    
}
<style>
    td.section0 {
        font-weight: bold;
    }

    td.section1 {
        padding-left: 5px;
        font-weight: bold;
    }

    td.section2 {
        padding-left: 10px;
    }

    td.section3 {
        padding-left: 15px;
    }
</style>

<script type="text/javascript">
    var info = [];

    function test() {
        alert("Test.");
    }

    function populatePage() {
        var elem;
        var defaults = [];
        var de;
        @for (int i = 0; i < defList.Count; i++)
        {
            int options = 0;
            if (defList[i].Level == 2)
            {
                options = 1;
            }
                
        <text>
        elem = { "title": "@defList[i].Name", "hlevel": @defList[i].Level, "options": @options, "checkid": @defList[i].ID };
        info.push(elem);
        </text>
        }

        @foreach (int key in elemMap.Keys)
        {
        <text>
        de = { "checkid": @elemMap[key].CheckID, "check": @elemMap[key].Status, "comment": "@elemMap[key].Comment" };
        defaults.push(de);
        </text>
        }

        out = "<table>";
        out += "<thead><tr><td>Name</td><td>Good</td><td>Bad</td><td>Comments</td></thead>"
        var found = false;
        var commentdef = "";
        var check = 0;
        var c1string = "";
        var c2string = "";
        for (var i = 0; i in info; i++) {
            commentdef = "";
            check = 0;
            found = false;
            c1string = "";
            c2string = "";
            for (var j = 0; j < defaults.length; j++)
                if (defaults[j]["checkid"] == info[i]["checkid"]) {
                    de = defaults[j];
                    found = true;
                    break;
                }
            if (found) {
                if (de["comment"] != "")
                    commentdef = de["comment"];
                check = de["check"];
                if (check == 1)
                    c1string = "checked";
                if (check == 2)
                    c2string = "checked";
            }
            out += "<tr>";
            if (info[i]["hlevel"] == 0)
                out += "<td class=\"section0\">";
            else
                out += "<td class=\"section" + (info[i]["hlevel"] % 3) + "\">";
            out += info[i]["title"];
            out += "</td>";
            out += "<td>";
            if (info[i]["options"] == 1)
                out = out + "<input type=\"radio\" id=\"" + i.toString() + "g\" name=\"" + i.toString() + "\" value=\"good\" " + c1string + "/>";
            out += "</td>";
            out += "<td>";
            if (info[i]["options"] == 1)
                out = out + "<input type=\"radio\" id=\"" + i.toString() + "b\" name=\"" + i.toString() + "\" value=\"bad\" " + c2string + "/>";
            out += "</td>";
            out += "<td>";
            if (info[i]["options"] == 1)
                out = out + "<input type=\"text\" id =\"" + i.toString() + "c\" name=\"" + i.toString() + "c\" style=\"width: 500px\" value=\"" + commentdef + "\"/>";
            out += "</td>";
            out += "<tr>";
        }

        out += "</table>";
        document.getElementById("hcform1").innerHTML = out;

    }

    function getOption(option) {
        var g = option + "g";
        var b = option + "b";
        if (document.getElementById(g) == null || document.getElementById(b) == null)
            return 3;
        if (document.getElementById(g).checked)
            return 0;
        else if (document.getElementById(b).checked)
            return 1;
        return 2;
    }

    function submitForm() {
        var out = "";
            
        for (var i = 0; i in info; i++) {
            var elem = getOption(i.toString());
            if (elem == 0)
                out += "G";
            else if (elem == 1)
                out += "B";
            else if (elem == 2)
                out += "E";
            else
                out += "N";
        }
        document.getElementById("para1").textContent = out;
        document.getElementById("checks").value = out;
        out = "";
        for (var i = 0; i < info.length - 1; i++) {
            var s = i.toString();
            s += "c";
            if (document.getElementById(s) == null)
                out = out + "~!*";
            else
                out = out + document.getElementById(s).value + "~!*";
            
        }
            
        
        //out = out + document.getElementById((info.length() - 1) + "c").value;
        document.getElementById("para2").textContent = out;
        document.getElementById("comments").value = out;
        
        document.forms["submitform"].submit();
    }

    function allGood() {
        for (var i = 0; i in info; i++) {
            var elem = i.toString() + "g";
            if (document.getElementById(elem) != null)
                document.getElementById(elem).checked = true;
        }
    }

    function allBad() {
        for (var i = 0; i in info; i++) {
            var elem = i.toString() + "b";
            if (document.getElementById(elem) != null)
                document.getElementById(elem).checked = true;
        }
    }

</script>

<h2>@ViewBag.Title</h2>

<p id="para1" hidden>
    @defList.Count
    <br />
    @elemList.Count
    <br />
</p>
<p id="para2" hidden>

</p>
<form name="sform1" id="sform1">
    <input id="sbutton1" type="button" value="Submit" onclick="submitForm();" />
    <input id="gbutton1" type="button" value="All Good" onclick="allGood();" />
    <input id="bbutton1" type="button" value="All Bad" onclick="allBad();" />
</form>
<form name="hcform1" id="hcform1">
    <!--<input id="button1" type="button" value="test" onclick="test();" />-->
</form>
<form name="sform2" id="sform2">
    <input id="sbutton2" type="button" value="Submit" onclick="submitForm();" />
</form>
<form name="submitform" id="submitform" action="Submit" method="get" hidden>
    <input id="id" name="id" type="text" value="@siteid" />
    <input id="checks" name="checks" type="text" />
    <input id="comments" name="comments" type="text" />
</form>
