﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Health Checks</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>*@


<div class="row">
    <div class="col-md-4">
        <h2>Submit a Daily Health Check Report</h2>
        <p>
            Fill out a daily health check report for your site.
        </p>
        <p><a class="btn btn-default" href="~/HealthChecks/Daily">Submit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View a report on Daily Health Checks</h2>
        <p>View a report on previous health checks for your site.</p>
        <p><a class="btn btn-default" href="~/HealthChecks/View">Reports &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>