﻿@model HealthChecks.Models.SiteInfo

@{
    ViewBag.Title = @Model.sitename;
}

<script type="text/javascript">
    var ucount = @(Model.users.Count - 1)
    function addUser() {
        ucount++;
        //var s = document.GetElementById("userlist1").value;
        //alert(s);
        var s = document.getElementById("userlist1").innerHTML;
        var a = s + "<tr> <td> <input type=\"text\" name=\"users[" + ucount + "].username\" value=\"\"> </td> <td style=\"text-align: center\"> <input type=\"checkbox\" name=\"users[" + ucount + "].active\" checked hidden> </td> <td style=\"text-align: center\"> <input type=\"checkbox\" name=\"users[" + ucount + "].admin\"> </td> </tr>";
        //document.getElementById("definition").textContent = a;
        //alert(a);
        document.getElementById("userlist1").innerHTML = a;
    }
</script>

<h2>@Model.sitename</h2>


<div class="row">
    <table>
        <tr>
            <td>
                <form name="userform" action="UpdateUserSite" method="get">
                    <input type="text" name="id" hidden value="@Model.siteid" />
                    <table>
                        <thead>
                            <tr>
                                <td>Username</td>
                                <td>Enabled</td>
                                <td>Admin</td>
                            </tr>
                        </thead>
                        <tbody id="userlist1">
                            @for (int i = 0; i < Model.users.Count; i++)
                            {
                                bool active = Model.users[i].Active;
                                bool admin = Model.AdminUser(Model.users[i].Username);
                                string usernametag = "users[" + i + "].username";
                                string activetag = "users[" + i + "].active";
                                string admintag = "users[" + i + "].admin";
                                <tr>
                                    <td>
                                        <input type="text" name="@usernametag" readonly value="@Model.users[i].Username" />
                                    </td>
                                    <td style="text-align: center">
                                        @{
                                if (active)
                                {
                                    <input type="checkbox" name="@activetag" checked />
                                }
                                else
                                {
                                    <input type="checkbox" name="@activetag" />
                                }

                                        }
                                        @*<input type="checkbox" name="active" checked />*@
                                    </td>
                                    <td style="text-align: center">
                                        @{
                                if (admin)
                                {
                                    <input type="checkbox" name="@admintag" checked />
                                }
                                else
                                {
                                    <input type="checkbox" name="@admintag" />
                                }
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3" style="padding-left: 15px">
                                    <input type="submit" value="Submit" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <form name="adduserform1" id="adduserform1">
                    <input type="button" value="New User" onclick="addUser();" />
                </form>
            </td>
            <td>
                DEF
            </td>
        </tr>
    </table>
    
    <br />
    <h4>Definition</h4>
    <form id="definition" name="definition" action="UpdateDefinition" method="post">
        <div>
            <input type="text" name="id" value="@Model.siteid" hidden />
            <input type="submit" value="Update Definition" />
        </div>
        <div>
            <textarea name="definition" id="definition" style="width: 800px; height: 500px; max-width: none">@Model.defstring</textarea>
        </div>
        <div>
            <input type="submit" value="Update Definition" />
        </div>
    </form>
</div>


