﻿@model List<HealthChecks.Models.Site>

@{
    ViewBag.Title = "Modify Site";
}

<h2>Modify Site</h2>
<h3>Select site</h3>
<div>
    <form name="form1" id="form1" action="ModifySite" method="get">
        Site:
        <select name="id">
            @foreach (var elem in Model)
            {
                <option value="@elem.ID">@elem.Name</option>
            }
        </select>
        <input type="submit" value="Submit" />
    </form>
</div>


