﻿@model List<HealthChecks.Models.HCSummary>

@{
    ViewBag.Title = "Health Check Summary";
}

<h2>Health Check Summary</h2>

<style>
    td.summ {
        text-align: center;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Site</th>
            <th>Last Submission</th>
        </tr>
    </thead>
    @{
        foreach (var summary in Model)
        {
            <tr>
                <td>@summary.siteName</td>
                @if (summary.lastUpdate == new DateTime(0))
                {
                    <td class="summ">No Submission</td>
                }
                else
                {
                    <td class="summ">@summary.lastUpdate.ToString("HH:mm")</td>
                }
            </tr>
        }
    }
</table>

