﻿@model List<HealthChecks.Models.HCSummaryMatrix>

@{
    DateTime empty = new DateTime();
    Dictionary<int, bool> weekend = new Dictionary<int, bool>();

    int good = 10;
    int okay = 12;
    //int bad = 12;
}

@{
    ViewBag.Title = "Health Check Summary";
}

<style>
    td.section0 {
        font-weight: bold;
        padding-right: 10px;

    }

    td.section1 {
        padding-left: 5px;
        font-weight: bold;
        padding-right: 10px;

    }

    td.section2 {
        padding-left: 10px;
        padding-right: 10px;

    }

    td.section3 {
        padding-left: 15px;
        padding-right: 10px;

    }

    td {
        border-right: solid;
        border-left: solid;
        border-right-width: thin;
        border-left-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        border-color: black;
        border-bottom: solid;
        border-top: solid;
        border-width: thin;
    }

    td.check {
        border-right: solid;
        border-left: solid;
        border-right-width: thin;
        border-left-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        border-color: black;
        width: 50px;
        text-align: center;
        vertical-align: central;
    }

    th.check {
        border-right: solid;
        border-left: solid;
        border-right-width: thin;
        border-left-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        border-color: black;
        width: 50px;
        text-align: center;
        vertical-align: central;
    }

    td.bad {
        color: red;
    }

    td.longheader {
        border-top: solid;
        border-bottom: solid;
        border-width: thin;
    }

    th.longheader {
        border-top: solid;
        border-bottom: solid;
        border-width: thin;
    }

    td.weekend {
        background-color: gray;
    }

    th.weekend {
        background-color: gray;
    }

    td.heading {
        padding-right: 10px;
        padding-left: 10px;
    }

    td.hcgood {
        background-color: blue;
    }

    td.hcokay {
        background-color: yellow;
    }

    td.hcbad {
        background-color: orangered;
    }

    td.hcmissing {
        background-color: maroon;
    }

    td.key {
        border: none;
        font-style: italic;
    }

    td.keycolor {
        width: 50px;
    }

    td.keylabel {
        text-align: center;
        padding-left: 20px;
    }
</style>

<h2>Health Check Summary</h2>

<style>
    td.summ {
        text-align: center;
    }
</style>

<table>
    <thead>
        <tr>
            <td style="border-style: none"></td>
            @{
                //int days = Convert.ToInt32((end - start).TotalDays);
                int span = 0;
                DateTime start = DateTime.Now.AddDays(-Model[0].updateHistory.Count + 1);
                DateTime end = DateTime.Now;
                for (DateTime i = start; i <= end; i = i.AddDays(1))
                {
                    if (i.AddDays(1).Month == i.Month)
                    {
                        span++;
                    }
                    else
                    {
                        <td class="check longheader" colspan="@(span + 1)">@i.ToString("MMMM yyyy")</td>
                        span = 0;
                    }
                }
                if (end.AddDays(1).Month == end.Month)
                {
                    <td class="check longheader" colspan="@span">@end.ToString("MMMM yyyy")</td>
                }
            }
        </tr>
        <tr>
            <th>Site</th>
            @for (int i = @Model[0].updateHistory.Count - 1; i >= 0; i--)
            {
                string hdd = DateTime.Now.AddDays(-i).Date.DayOfWeek.ToString();
                hdd = hdd.Substring(0, 2);
                if (hdd == "Su" || hdd == "Sa")
                {
                    weekend.Add(i, true);
                }
                else
                {
                    weekend.Add(i, false);
                }
                string cl = "";
                if (weekend[i])
                {
                    cl = "weekend check longheader";
                }
                else
                {
                    cl = "check longheader";
                }
                <th class="@cl">
                    @DateTime.Now.AddDays(-i).ToString("dd")
                </th>
            }
        </tr>
    </thead>
    @foreach (var siteInfo in @Model)
    {
        <tr>
            <td class="section0">
                @siteInfo.siteName
            </td>
            @for (int i = @siteInfo.updateHistory.Count - 1; i >= 0; i--)
            {
                string cl = "";
                if (weekend[i])
                {
                    cl = "weekend check";
                }
                else
                {
                    cl = "check";
                }
                
                if (!weekend[i])
                {
                    if (siteInfo.updateHistory[i].first == empty)
                    {
                        cl += " hcmissing";
                    }
                    else if (siteInfo.updateHistory[i].first.Hour < good)
                    {
                        cl += " hcgood";
                    }
                    else if (siteInfo.updateHistory[i].first.Hour < okay)
                    {
                        cl += " hcokay";
                    }
                    else
                    {
                        cl += " hcbad";
                    }
                }
                
                
                
                
                <td class="@cl">
                    @if (siteInfo.updateHistory[i].first != empty)
                    {
                        <text>+</text>
                    }
                    
                </td>
            }
        </tr>
    }
</table>

<br />
<br />

<table style="border-style: outset; border-width: thin;">
    <tr>
        <td class="key keycolor hcgood"></td>
        <td class="key keylabel">t ≤ @good</td>
    </tr>
    <tr>
        <td class="key keycolor hcokay"></td>
        <td class="key keylabel">@good < t ≤ @okay</td>
    </tr>
    <tr>
        <td class="key keycolor hcbad"></td>
        <td class="key keylabel">t > @okay</td>
    </tr>
    <tr>
        <td class="key keycolor hcmissing"></td>
        <td class="key keylabel">No Submission</td>
    </tr>
</table>

@*<table>
    <thead>
        <tr>
            <th>Site</th>
            <th>Last Submission</th>
        </tr>
    </thead>
    @{
        foreach (var summary in Model)
        {
            <tr>
                <td>@summary.siteName</td>
                @if (summary.lastUpdate == new DateTime(0))
                {
                    <td class="summ">No Submission</td>
                }
                else
                {
                    <td class="summ">@summary.lastUpdate.ToString("HH:mm")</td>
                }
            </tr>
        }
    }
</table>*@

