﻿@*@model HealthChecks.Models.CheckDef*@
@model HealthChecks.Models.SiteInfo

@{
    ViewBag.Title = "UpdateDefinition";
}

<h2>UpdateDefinition</h2>

<div>
    <form id="definition" name="definition" action="UpdateDefinition" method="post">
        <div>
            @*<input type="text" name="id" value="@Model.siteid" hidden />
            <input type="submit" value="Update Definition" />*@
        </div>
        <div>
            <textarea name="definition" id="definition" style="width: 800px; height: 500px; max-width: none">@Model.defstring</textarea>
        </div>
        <div>
            @*<input type="submit" value="Update Definition" />*@
        </div>
    </form>
</div>

