﻿@model List<HealthChecks.Models.Site>

@{
    ViewBag.Title = "ChooseSite";
}

<script type="text/javascript">
    function populatePage() {
        /*var d = new Date();
        document.getElementById("datefrom").value = (d.getDay() - 1) + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
        document.getElementById("dateto").value = "02/06/2014";*/
    }
</script>

<h2>View Health Checks</h2>

<p>
    Please select a site and a date range to view a history of health checks.
</p>

<div>
    <form name="form1" id="form1" action="ViewDetail" method="get">
        Site:
        <select name="id">
            @foreach (var elem in Model)
            {
                <option value="@elem.ID">@elem.Name</option>
            }
        </select>
        Start Date:
        <input type="text" name="start" id="datefrom" class="datepicker" data-provide="datepicker" value="@DateTime.Now.AddDays(-7).Date.ToShortDateString()" />
        End Date:
        <input type="text" name="end" id="dateto" class="datepicker" data-provide="datepicker" value="@DateTime.Now.Date.ToShortDateString()" />
        <br />
        <input type="submit" name="submit" />
    </form>
</div>


@*<table>
    <thead>
        <tr>
            <td colspan="3">Site</td>
        </tr>
    </thead>
    @foreach (var elem in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(elem.Name, "ViewDetail", new { id = elem.ID })
            </td>
            <td>
                <input type="text" class="datepicker" data-provide="datepicker" />
            </td>
            <td>
                <input type="text" class="datepicker" data-provide="datepicker" />
            </td>
        </tr>
    }
</table>*@

