﻿@*@model HealthChecks.Models.CheckElement*@
@model HealthChecks.Models.HCReport

@{
    ViewBag.Title = "ViewDetail";
    Dictionary<int, string> results = Model.results;
    string sitename = Model.sitename;
    DateTime start = Model.startdate;
    DateTime end = Model.enddate;
    string comments = Model.comments;
    List<HealthChecks.Models.CheckDef> defList = Model.defList;
    TimeSpan diff = end - start;
    int d = Convert.ToInt32(diff.TotalDays) + 1;
    Dictionary<int, HealthChecks.Models.CheckDef> defMap = Model.defMap;
    Dictionary<int, bool> weekend = new Dictionary<int, bool>();
    string mainTitle = "Health Checks - " + sitename + " (" + start.ToShortDateString() + " - " + end.ToShortDateString() + ")";
    Dictionary<string, int> rUserMap = new Dictionary<string, int>();
    int count2 = 0;
    foreach (string user in Model.usernames)
    {

        rUserMap.Add(user, count2);
        count2++;
    }
    
    List<string> ucolor = new List<string>();
    ucolor.Add("#5B9BD5");
    ucolor.Add("#ED7D31");
    ucolor.Add("#FFC000");
    ucolor.Add("#4472C4");
    ucolor.Add("#7AAD47");
    
    
}

<style>
    td.section0 {
        font-weight: bold;
        padding-right: 10px;
        
    }

    td.section1 {
        padding-left: 5px;
        font-weight: bold;
        padding-right: 10px;
        
    }

    td.section2 {
        padding-left: 10px;
        padding-right: 10px;
        
    }

    td.section3 {
        padding-left: 15px;
        padding-right: 10px;
        
    }

    td.check {
        border-right: solid;
        border-left: solid;
        border-right-width: thin;
        border-left-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        border-color: black;
        width: 50px;
        text-align: center;
        vertical-align: central;
    }

    td.bad {
        color: red;
    }

    td.longheader {
        border-top: solid;
        border-bottom: solid;
        border-width: thin;
    }

    td.weekend {
        background-color: gray;
    }

    td.heading {
        padding-right: 10px;
        padding-left: 10px;
    }

    p.comments {
        padding-left: 30px;
        border: solid;
        border-width: thin;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

    tr.checkname {
        border-bottom: solid;
        border-top: solid;
        border-left: solid;
        border-width: thin;
    }

    @for (int i = 0; i < ucolor.Count; i++)
    {
        string s = "td.user" + i.ToString() + " { background: " + ucolor[i] + "; }\n";
        @s;
    }

</style>

<h2>@mainTitle</h2>

<table>
    <thead>
        <tr>
            <td></td>
            @{
                int days = Convert.ToInt32((end - start).TotalDays);
                int span = 0;
                for (DateTime i = start; i <= end; i = i.AddDays(1))
                {
                    if (i.AddDays(1).Month == i.Month)
                    {
                        span++;
                    }
                    else
                    {
                        <td class="check longheader" colspan="@(span + 1)">@i.ToString("MMMM")</td>
                        span = 0;
                    }
                }
                if (end.AddDays(1).Month == end.Month)
                {
                    <td class="check longheader" colspan="@span">@end.ToString("MMMM")</td>
                }
                @*for (int i = 0; i < days + 1; i++)
                {
                    <td class="check longheader">n</td>
                }*@
            }
            @*@for (int i = 0; i < (1 + Convert.ToInt32(end.Date.ToShortDateString().Substring(5, 2)) - Convert.ToInt32(start.Date.ToShortDateString().Substring(5, 2))); i++)
            {
                int mend = Convert.ToInt32(end.Date.ToShortDateString().Substring(5, 2));
                //int mstart = Convert.ToInt32(start.Date.ToShortDateString().Substring(5, 2)) + i;
                
                int span = 0;
                DateTime pos = start;
                while (pos.Month < start.AddMonths(i).Month + 1)
                {
                    pos = pos.AddDays(1);
                    span++;
                }
                <td class="check longheader" colspan="@span">@pos.AddDays(-1).Month.ToString()</td>
            }*@
            @*<td class="check longheader"colspan="@((end - start).TotalDays + 1)">abcd</td>*@
        </tr>
        <tr>
            <td></td>
            @for (int i = 0; i < d; i++)
            {
                string hd = start.AddDays(i).ToShortDateString().Substring(8);

                string hdd = start.AddDays(i).Date.DayOfWeek.ToString();
                hdd = hdd.Substring(0, 2);
                if (hdd == "Su" || hdd == "Sa")
                {
                    weekend.Add(i, true);
                }
                else
                {
                    weekend.Add(i, false);
                }
                string cl = "";
                if (weekend[i])
                {
                    cl = "weekend check longheader";
                }
                else
                {
                    cl = "check longheader";
                }
                <td class="@cl" >@hd</td>
            }
        </tr>
        <tr>
            <td></td>
            @for (int i = 0; i < d; i++)
            {
                string hd = start.AddDays(i).Date.DayOfWeek.ToString();
                hd = hd.Substring(0, 2);
                string cl = "";
                if (weekend[i])
                {
                    cl = "weekend check longheader";
                }
                else
                {
                    cl = "check longheader";
                }
                <td class="@cl" >@hd</td>
            }
        </tr>
        @*<tr>
            <td>
            </td>
            @for (int i = 0; i < d; i++)
            {
                string c = "";
                if (Model.lastUpdate.Keys.Contains(start.AddDays(i).Date))
                {
                    DateTime t = Model.lastUpdate[start.AddDays(i).Date];
                    if (t.Hour >= 12)
                    {
                        c = "L";
                    }
                    else if (t.Hour > 10)
                    {
                        c = "M";
                    }
                    else
                    {
                        c = "O";
                    }
                }
                if (weekend[i])
                {
                    <td class="check weekend"></td>
                }
                else
                {
                    <td class="check">@c</td>
                }
                
            }
        </tr>*@
    </thead>
    @foreach (int id in defMap.Keys)
    {
        int delta = results[id].Length - d;
        int count = 0;
        string style = "";
        string checkstyle = "";
        string hint = "";
        bool comment = false;
        string username = "";
        if (defMap[id].Level == 0)
        {
            style = "section0";
        }
        else
        {
            style = "section" + (defMap[id].Level % 3).ToString();
        }
            
        @*<tr style="border-bottom: solid; border-bottom-width: thin;">*@
    <tr class="checkname">
        <td class="@style">@defMap[id].Name</td>

        @for (int i = 0; i < Model.elemDTMap[id].Count; i++)
        {
            comment = false;
            username = "";
            string elemcontent = Model.elemDTMap[id][Model.startdate.AddDays(i).Date];
            if (!weekend[i])
            {

            }
            if (elemcontent == "B")
            {
                checkstyle = "check bad";
            }
            else
            {
                checkstyle = "check";
            }
            if (weekend[i])
            {
                checkstyle += " weekend";
            }

            if (!String.IsNullOrEmpty(Model.elemUserMap[id][Model.startdate.AddDays(i).Date]))
            {
                int c = rUserMap[Model.elemUserMap[id][Model.startdate.AddDays(i).Date]];
                string s = "user" + c.ToString();
                checkstyle = checkstyle + " " + s;
                username = Model.elemUserMap[id][Model.startdate.AddDays(i).Date];
            }

            if (Model.elemCommentMap[id].Keys.Contains(Model.startdate.AddDays(i).Date) && !String.IsNullOrEmpty(Model.elemCommentMap[id][Model.startdate.AddDays(i).Date]))
            {
                comment = true;
                //chcekstyle += " hint--right";
                //hint = "class=hint--right data-hint=" + Model.elemCommentMap[id][Model.startdate.AddDays(i).Date] + "";
                hint = username + ": " + Model.elemCommentMap[id][Model.startdate.AddDays(i).Date];
            }

            if (elemcontent != "")
            {
                if (comment)
                {
                    <td class="@(checkstyle)"><span class="hint--right" data-hint="@hint"><b>¤</b></span></td>
                }
                else
                {
                    <td class="@(checkstyle)"><span>●</span></td>
                }
            }
            else
            {
                <td class="@checkstyle">@elemcontent</td>
            }
            @*<td class="@checkstyle">@elemcontent</td>*@
        }


        @*@for (int i = 0; i < results[id].Length; i++)
            {
                count++;
                if (results[id][i] == 'B')
                {
                    checkstyle = "check bad";
                }
                else
                {
                    checkstyle = "check";
                }
                <td class="@checkstyle">
                    @results[id][i]
                </td>
            }
            @while (count < d)
            {
                count++;
                <td class="check"></td>
            }*@
    </tr>
    }
</table>

<table>
    @foreach (string username in Model.usernames)
    {
        int sn = rUserMap[username];
        string style = "user" + sn;
        <tr>
            <td class="@style">
                @username
            </td>
        </tr>
    }
</table>

<h3>Comments</h3>
<p id="comments" class="comments">
    <span style="white-space: pre-line;">@comments</span>
</p>



@*<table>
    @foreach (int key in results.Keys)
    {
        <tr>
            <td>@key</td>
            <td>@results[key]</td>
            <td>@d</td>
        </tr>
    }
</table>*@


