﻿@model HealthChecks.Models.Site

@{
    ViewBag.Title = "NewSite";
}

<h2>NewSite</h2>

<p>@ViewBag.error</p>
<form id="sitename" action="" method="get">
    <input type="text" name="sitename" />
    <br />
    <input type="submit" />
</form>

