﻿@model HealthChecks.Models.NVBackupModel
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#host").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#titles");
            var progress = $("#loading-progress");
            progress.show();
            $.ajax({
                cache: false,
                type: "GET",
                @*url: "@(Url.RouteUrl("GetBackupJobsByHost"))",*@
                url: "GetBackupJobsByHost/?host=" + selectedItem,
                success: function (data) {
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.Title).html(option.Title));
                    });
                    progress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve titles.');
                    progress.hide();
                }
            });
        });
    });

    $(function () {
        $("#SiteId").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#CheckDefId");
            var progress = $("#loading-progress");
            progress.show();
            $.ajax({
                cache: false,
                type: "GET",
                @*url: "@(Url.RouteUrl("GetBackupJobsByHost"))",*@
                url: "GetCheckDefsForSiteId/?siteId=" + selectedItem,
            success: function (data) {
                ddlStates.html('');
                $.each(data, function (id, option) {
                    ddlStates.append($('<option></option>').val(option.ID).html(option.name));
                });
                progress.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve titles.');
                progress.hide();
            }
        });
    });
    });

    function map(siteID, fSiteID, checkID, fCheckID, backupHost, backupJob, type, fType)
    {
        this.siteID = siteID;
        this.checkID = checkID;
        this.backupHost = backupHost;
        this.backupJob = backupJob;
        this.type = type;
        this.fSiteID = fSiteID;
        this.fCheckID = fCheckID;
        this.fType = fType;
    }

    var maps = [];

    function updatePreview()
    {
        var preview = document.getElementById("preview");
        var n = "";
        for (var i = 0; i < maps.length; i++)
        {
            n += "<tr>";

            n = n + "<td>" + maps[i].fSiteID + "</td><td>" + maps[i].fCheckID + "</td><td>" + maps[i].backupHost + "</td><td>" + maps[i].backupJob + "</td><td>" + maps[i].fType + "</td>";
            n = n + "<td><a onclick=\"javascript:rem(" + i + ");\" href=\"javascript:void();" +"" + "\">X</a></td>";

            n += "</tr>";
        }
        preview.innerHTML = n;
    }

    function submitForm()
    {
        var siteSelect = document.getElementById("SiteId");
        var siteID = siteSelect.options[siteSelect.selectedIndex].value;
        var fSiteID = siteSelect.options[siteSelect.selectedIndex].text;
        var checkSelect = document.getElementById("CheckDefId");
        var checkID = checkSelect.options[checkSelect.selectedIndex].value;
        var fCheckID = checkSelect.options[checkSelect.selectedIndex].text;
        var hostSelect = document.getElementById("host");
        var backupHost = hostSelect.options[hostSelect.selectedIndex].value;
        var backupSelect = document.getElementById("titles");
        var backupJob = backupSelect.options[backupSelect.selectedIndex].value;
        var atSelect = document.getElementById("autotype");
        var type = atSelect.options[atSelect.selectedIndex].value;
        var fType = atSelect.options[atSelect.selectedIndex].text;
        var m = new map(siteID, fSiteID, checkID, fCheckID, backupHost, backupJob, type, fType);
        maps.push(m);
        updatePreview();
    }

    function rem(index)
    {
        maps.splice(index, 1);
        updatePreview();
    }

    function commit()
    {
        if (maps.length > 0)
        {
            var s = JSON.stringify(maps);
            console.log(s);
            document.getElementById("commitdata").value = s;
            document.forms["commitform"].submit();
        }
        else
        {
            alert("Please select a mapping.");
        }
        
    }
</script>


<h2>Index</h2>

@Html.LabelFor(model=>model.SiteId)
@Html.DropDownListFor(model=>model.SiteId, Model.AvailableSites)
<br />
@Html.LabelFor(model=>model.CheckDefId)
@Html.DropDownListFor(model=>model.CheckDefId, Model.AvailableCheckDefs)

<br />

@Html.LabelFor(model=>model.host)
@Html.DropDownListFor(model=>model.host, Model.AvailableHosts)

<br />

@Html.LabelFor(model=>model.TitleId)

<select id="titles" name="titles">

</select>

<br />
<select id="autotype" name="autotype">
    @{foreach (var at in Model.AvailableAutoTypes)
      {
          <option value="@at.Value">@at.Text</option>
      }
      }
</select>

<input id="sbutton2" type="button" value="Submit" onclick="submitForm();" />

<br />
<hr />

<table>
    <thead>
        <tr>
            <td>siteID</td>
            <td>checkID</td>
            <td>host</td>
            <td>job</td>
            <td>Type</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="preview">

    </tbody>
</table>

<br />
<input id="commit" type="button" value="Commit" onclick="commit();" />

<br />

<form id="commitform" name="commitform" action="CommitMap" method="post" hidden>
    <input id="commitdata" type="text"  name="data"/>
    <input id="commitsubmit" type="submit"  />
</form>



