﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Health Checks</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-datepicker3.css")
    @Styles.Render("~/Content/hint.min.css")
    @*<link rel="stylesheet" href="http://kushagragour.in/lab/hint/hint.min.css">*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/DatePickerReady.js")

<style>
    td.bottom {
        border: none;
        font-size: small;
    }
</style>    

</head>
<body onload="populatePage();">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Health Checks", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Report", "View", "HealthChecks")</li>
                    <li>@Html.ActionLink("Submit", "Daily", "HealthChecks")</li>
                    <li>@Html.ActionLink("Summary", "Summary", "HealthChecks")</li>
                    <li>@Html.ActionLink("SummaryMatrix", "SummaryMatrix", "HealthChecks")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">@User.Identity.Name</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="margin-bottom: 0px;" />
        <footer>
            <table style="border: none; width: 100%; align-self: center;">
                <tr>
                    <td class="bottom" style="text-align: left; width: 25%;">&copy; @DateTime.Now.Year - Bytes Technology Group (Pty) Limited</td>
                    <td class="bottom" style="text-align: center; width: 25%;"><a href="mailto:spurnell@illovo.co.za">Report a problem</a></td>
                    <td class="bottom" style="text-align: right; width: 25%;">About</td>
                </tr>
            </table>
            @*<p>&copy; @DateTime.Now.Year - Bytes Technology Group (Pty) Limited</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
